.card-container {
    color: var(--charcoal);
    max-width: 600px;
    width: fit-content;
}

.card-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.card-wrapper > a {
    width: fit-content;
    align-self: flex-end;
}

@media (max-width: 768px) {
    .card-wrapper > a {
        align-self: center;
    }
}

.content-wrapper h3 {
    font-family: var(--quicksand);
    font-weight: 400;
    font-size: 2.5em;
    line-height: 145%;
}

.content-wrapper p {
    font-family: var(--poppins);
    color: var(--grey);
    font-weight: 300;
    font-size: 1.3em;
    letter-spacing: 0.7px;
    line-height: 165%;
}


h3 span {
    font-family: var(--quicksand);
    font-size: 90%;
    font-weight: 100;
}

