.card-container {
    color: var(--charcoal);
    border-radius: 24px;
    padding: 24px;
    background-color: var(--coral);
    max-width: 400px;
    width: fit-content;;
}

.card-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.content-wrapper h3 {
    font-size: 3em;
    font-family: var(--poppins);
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 145%;
}

.content-wrapper p {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.7px;
    line-height: 145%;
}


h3 span {
    font-family: var(--quicksand);
    font-size: 90%;
    font-weight: 100;
}

